{% extends "encyclopedia/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Add Paper
{% endblock %}

{% block body %} 

<form action="{% url 'addpaper' %}" method="POST" autocomplete="off">
    {% csrf_token %} 

    <div class="alert alert-info" role="alert">
        <h5>Please allow automatic pasting when asked</h5>
    </div>

    <div class="col-12">
        <label for="title">Title*</label>
        <input type="text" id="title" class="form-control" name="title" placeholder="e.g. Semester V Genetics Paper" required onkeyup="pasteit()">
        <br>
    </div>
    
    <div class="input-group mb-3 col-12">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">File Link (Automatically Pasted)</span>
        </div>
        <input type="text" id="file_url" name="file_url" class="form-control" placeholder="File link will be uploaded automatically">
        
    </div> 

    <div class="col-12">
        <label>* If file link is not pasted automatically, do it manually as file link has been copied to your clipboard</label>
    </div>

    <br>

    
    <div class="col-12">
        {{ form.your_name|as_crispy_field }}
    </div>

    <div class="col-md-6">
        {{ form.subject|as_crispy_field }}
    </div>

    <div class="col-md-6">
        {{ form.year|as_crispy_field }}
    </div>

    <div class="col-md-6">
        {{ form.category|as_crispy_field }}
    </div>

    <div class="col-12">              
        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    function pasteit() {
        navigator.clipboard.readText().then(text => {
            document.getElementById('file_url').value = text;
        })
    }
</script>

{% endblock %} 