{% extends "encyclopedia/layout.html" %}

{% block title %}
    Bioscience
{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
    <h5>A note to users</h5>
</div>    

<p>Mankind has Internet for more than 6 decades, but we never used it as effectively as we could. During the 
    time of COVID, our education system crashed. One reason is because we were unprepared even while having 
    all the resources. This caused a sense of disbelief towards internet.
</p> 

<p>
    Twenty years ago, the internet was a very different place. The early days of the web were a time of great 
    experimentation and curiosity. The first pioneers of the internet were rooted in the values of open-source 
    and free knowledge, designing a new frontier for communicating information. We need such collaborative  
    efforts for the sake  of Optimisation.
</p>

 
<p>These moments of collaboration show us how we can use the power of the internet for good. We will achieve 
    this, not as individuals, but as a collaborative movement of knowledge seekers. Together, we can rebuild 
    trust in the internet, and by extension, in each other.
</p> 

<br> 

<h3>Read Founder's messages</h3>

<hr>

<a href="{% url 'message' 1 %}">
    <div class="alert alert-warning" role="alert">    
        <h5>Optimise the Internet</h5>
        <h6>by Sameer Azam</h6>   
    </div>
</a>  

<br>

<a href="{% url 'message' 3 %}">
    <div class="alert alert-info" role="alert">    
        <h5>A message  of hope</h5>
        <h6>by Mohd. Rizwan</h6>   
    </div>
</a> 

<br>

<img id="jmiImg" src="static/encyclopedia/jmi.jpg" alt="Unable to load image">

{% endblock %}