<!--This page is home to paper site-->

{% extends "encyclopedia/layout.html" %}

{% block title %}
    Papers
{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
    <p>Total Papers available: {{ totalPapers }}</p>
</div>

<div class="vstack gap-2 col-md-5 mx-auto" style="margin-top: 40px;">

  <div class="alert alert-success" role="alert">
    <a href="{% url 'searchpaper' %}"><h1>Search a paper</h1></a>
  </div>

  <div class="alert alert-warning" role="alert">
    <a href="{% url 'subjectpapers' %}"><h1>Subjectwise papers</h1></a>
  </div>

  <div class="alert alert-info" role="alert">
    <a href="https://script.google.com/macros/s/AKfycbyIkkvp-VXES3r3ohGE4EyJeGdoUMn4vuKb5HRZ6HXTu6MWs_XLmQpOAQ0ZW_sqI5zl/exec">
      <h1>Add a paper</h1>
    </a>
  </div>

</div>

{% endblock %} 
